if [ -z "${once}" ] ; then
	insmod loadenv
	load_env

	if [ "${iso_dir}" ] ; then
		export iso_dir
	fi
	
	if [ "${sys_uuid}" ] ; then
		export sys_uuid
	fi

	if [ "${saved}" ] ; then
		set default="${saved}"
	fi

	insmod font
	insmod all_video
	insmod png

	loadfont $gfxterm_font
	terminal_output gfxterm
	background_image $prefix/themes/background.png

	insmod loopback
	insmod linux
	insmod part_msdos
	insmod reboot
	insmod halt

	set once="yes"
	export once
fi

function preboot {
	saved="${chosen}"
	save_env saved
	search --no-floppy --set root --hint hd0,gpt3 --fs-uuid ${sys_uuid}
	loopback loop $iso_path
	set root=(loop)
}

source $prefix/tools.cfg
